<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>Landing Page</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/magnific-popup.min.css">
    <link rel="stylesheet" href="css/wi-feedback.min.css">
    <link rel="stylesheet" href="css/styles.css">
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/jquery.wi-feedback.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/angular-locale_ru-by.js"></script>
    <script src="js/script.js"></script>
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&onload=jQuery.fn.lpMapInit" async></script>
</head>

<body>

    <header>
        <div class="container">
            <ul>
                <li><a href="#slideshow">Главная</a></li>
                <li><a href="#services">Услуги</a></li>
                <li><a href="#portfolio">Портфолио</a></li>
                <li><a href="#prices">Цены</a></li>
                <li><a href="#contacts">Контакты</a></li>
            </ul>
        </div>
    </header>

    <section id="slideshow">
        <div class="container">
            <div class="lp-content">
                <div class="lp-slider1 owl-carousel">
                    <img src="img/slideshow/slide1.jpg" alt="Продукт 1">
                    <img src="img/slideshow/slide2.jpg" alt="Продукт 2">
                    <img src="img/slideshow/slide3.jpg" alt="Продукт 3">
                </div>
            </div>
        </div>
    </section>

    <section id="services">
        <div class="container">
            <div class="lp-content">
                <h2>Наши услуги</h2>

                <div class="lp-tabs">

                    <div data-tab-title="Услуга 1">
                        <p class="text-center"><strong>Услуга 1</strong></p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga adipisci aut amet, nam laboriosam ut nulla earum beatae error labore illo, provident ex unde omnis maiores qui perspiciatis, cumque quidem! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga adipisci aut amet, nam laboriosam ut nulla earum beatae error labore illo, provident ex unde omnis maiores qui perspiciatis, cumque quidem! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga adipisci aut amet, nam laboriosam ut nulla earum beatae error labore illo, provident ex unde omnis maiores qui perspiciatis, cumque quidem!</p>
                        <p class="text-center">
                            <a class="btn btn-primary lp-mfp-inline" href="#lp-srv1">Подробнее...</a>
                            <a class="btn btn-primary lp-fb1-link" href="#lp-fb1" data-wi-fb-info="Услуга 1">Консультация</a>
                        </p>
                    </div>

                    <div data-tab-title="Услуга 2">
                        <p class="text-center"><strong>Услуга 2</strong></p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas laudantium deserunt, soluta quae, explicabo aut id iure molestias, omnis rem dolores nulla sit non. Repellendus amet numquam perferendis optio eligendi. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga adipisci aut amet, nam laboriosam ut nulla earum beatae error labore illo, provident ex unde omnis maiores qui perspiciatis, cumque quidem!</p>
                        <p class="text-center">
                            <a class="btn btn-primary lp-mfp-inline" href="#lp-srv2">Подробнее...</a>
                            <a class="btn btn-primary lp-fb1-link" href="#lp-fb1" data-wi-fb-info="Услуга 2">Консультация</a>
                        </p>
                    </div>

                    <div data-tab-title="Услуга 3">
                        <p class="text-center"><strong>Услуга 3</strong></p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro cum iste in fugiat, commodi natus ratione, explicabo culpa enim mollitia sequi velit autem dicta facilis esse dolorem vel. Accusamus, magnam.</p>
                        <p class="text-center">
                            <a class="btn btn-primary lp-mfp-inline" href="#lp-srv3">Подробнее...</a>
                            <a class="btn btn-primary lp-fb1-link" href="#lp-fb1" data-wi-fb-info="Услуга 3">Консультация</a>
                        </p>
                    </div>

                    <div data-tab-title="Услуга 4">
                        <p class="text-center"><strong>Услуга 4</strong></p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat facilis pariatur numquam dolorum, harum incidunt porro necessitatibus blanditiis voluptatibus fugit inventore veniam, laborum reiciendis quidem animi iure esse autem? Similique. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga adipisci aut amet, nam laboriosam ut nulla earum beatae error labore illo, provident ex unde omnis maiores qui perspiciatis, cumque quidem! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga adipisci aut amet, nam laboriosam ut nulla earum beatae error labore illo, provident ex unde omnis maiores qui perspiciatis, cumque quidem! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga adipisci aut amet, nam laboriosam ut nulla earum beatae error labore illo, provident ex unde omnis maiores qui perspiciatis, cumque quidem!</p>
                        <p class="text-center">
                            <a class="btn btn-primary lp-mfp-inline" href="#lp-srv4">Подробнее...</a>
                            <a class="btn btn-primary lp-fb1-link" href="#lp-fb1" data-wi-fb-info="Услуга 4">Консультация</a>
                        </p>
                    </div>

                </div>

            </div>
        </div>
    </section>

    <section id="portfolio">
        <div class="container">
            <div class="lp-content">
                <h2>Наши работы</h2>
                <div class="lp-slider2 owl-carousel lp-gallery">
                    <a href="img/slideshow/slide1.jpg" title="Продукт 1"><img src="img/slideshow/slide1.jpg" alt="Продукт 1"></a>
                    <a href="img/slideshow/slide2.jpg" title="Продукт 2"><img src="img/slideshow/slide2.jpg" alt="Продукт 2"></a>
                    <a href="img/slideshow/slide3.jpg" title="Продукт 3"><img src="img/slideshow/slide3.jpg" alt="Продукт 3"></a>
                    <a href="img/slideshow/slide1.jpg" title="Продукт 4"><img src="img/slideshow/slide1.jpg" alt="Продукт 4"></a>
                    <a href="img/slideshow/slide2.jpg" title="Продукт 5"><img src="img/slideshow/slide2.jpg" alt="Продукт 5"></a>
                    <a href="img/slideshow/slide3.jpg" title="Продукт 6"><img src="img/slideshow/slide3.jpg" alt="Продукт 6"></a>
                    <a href="img/slideshow/slide1.jpg" title="Продукт 7"><img src="img/slideshow/slide1.jpg" alt="Продукт 7"></a>
                    <a href="img/slideshow/slide2.jpg" title="Продукт 8"><img src="img/slideshow/slide2.jpg" alt="Продукт 8"></a>
                    <a href="img/slideshow/slide3.jpg" title="Продукт 9"><img src="img/slideshow/slide3.jpg" alt="Продукт 9"></a>
                    <a href="img/slideshow/slide1.jpg" title="Продукт 10"><img src="img/slideshow/slide1.jpg" alt="Продукт 10"></a>
                </div>
            </div>
        </div>
    </section>

    <section id="prices" ng-app="lpApp">
        <div class="container">
            <div class="lp-content" ng-controller="lpPriceCtrl">
                <h2>Наши цены</h2>
                <table ng-show="prices" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>№</th>
                            <th ng-click="sortSet('name')">
                                <span>Наименование</span>
                                <i class="fa fa-sort" ng-show="sortBy != 'name'"></i>
                                <i class="fa fa-sort-asc" ng-show="sortBy == 'name' && !sortRev"></i>
                                <i class="fa fa-sort-desc" ng-show="sortBy == 'name' && sortRev"></i>
                            </th>
                            <th ng-click="sortSet('price')">
                                <span>Цена</span>
                                <i class="fa fa-sort" ng-show="sortBy != 'price'"></i>
                                <i class="fa fa-sort-asc" ng-show="sortBy == 'price' && !sortRev"></i>
                                <i class="fa fa-sort-desc" ng-show="sortBy == 'price' && sortRev"></i>
                            </th>
                            <th ng-click="sortSet('discount')">
                                <span>Скидка</span>
                                <i class="fa fa-sort" ng-show="sortBy != 'discount'"></i>
                                <i class="fa fa-sort-asc" ng-show="sortBy == 'discount' && !sortRev"></i>
                                <i class="fa fa-sort-desc" ng-show="sortBy == 'discount' && sortRev"></i>
                            </th>
                            <th ng-click="sortSet('price2')">
                                <span>Цена со скидкой</span>
                                <i class="fa fa-sort" ng-show="sortBy != 'price2'"></i>
                                <i class="fa fa-sort-asc" ng-show="sortBy == 'price2' && !sortRev"></i>
                                <i class="fa fa-sort-desc" ng-show="sortBy == 'price2' && sortRev"></i>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="price in prices | orderBy:sortBy:sortRev">
                            <td>{{$index + 1}}</td>
                            <td>
                                <span>{{price.name}}</span>
                                <i ng-show="price.discount" class="fa fa-tag"></i>
                            </td>
                            <td>{{price.price | currency}}</td>

                            <td>
                                <span ng-show="price.discount">{{price.discount * 100 | number:0}}%</span>
                                <span ng-hide="price.discount">-</span>
                            </td>
                            <td>{{price.price2 | currency}}</td>
                        </tr>
                    </tbody>
                </table>
                <div ng-hide="prices" class="alert alert-danger">При загрузке данных произошла ошибка {{requestStatus}} {{requestStatusText}}.</div>
            </div>
        </div>
    </section>

    <section id="contacts">
        <div class="container">
            <div class="lp-content">
                <h2>Контакты</h2>
                <div class="row">
                    <div class="col-md-6">
                        <h2>Карта проезда</h2>
                        <div id="lp-map"></div>
                    </div>
                    <div class="col-md-6">
                        <div id="lp-fb2">
                            <h2>Обратная связь</h2>
                            <h3>Заполните контактные данные, и мы свяжемся с вами в кратчайшие сроки:</h3>
                            <input type="text" name="name" maxlength="50" data-wi-fb-caption="Имя" placeholder="Ваше Имя..." />
                            <input type="tel" name="phone" maxlength="50" data-wi-fb-caption="Телефон" placeholder="Ваш Телефон..." required />
                            <input type="email" name="email" maxlength="50" data-wi-fb-caption="Почта" placeholder="Ваш E-mail..." />
                            <textarea name="message" maxlength="500" data-wi-fb-caption="Сообщение" placeholder="Сообщение..."></textarea>
                            <button>Написать</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <p>© Landing Page 2017</p>
        </div>
    </footer>

    <div class="lp-modals">

        <div id="lp-srv1" class="lp-modal">
            <h2>Описание услуги 1</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed aspernatur accusantium iure expedita voluptatem veritatis recusandae at quia rem, in! Eligendi minus esse repudiandae reiciendis doloremque dolores architecto ullam unde.</p>
        </div>

        <div id="lp-srv2" class="lp-modal">
            <h2>Описание услуги 2</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia qui, harum saepe dolorem nostrum a deleniti error odio unde molestias quo impedit eligendi repellat exercitationem aperiam iusto minima, dolores quidem.</p>
        </div>

        <div id="lp-srv3" class="lp-modal">
            <h2>Описание услуги 3</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae perferendis qui, explicabo ducimus est, quas quibusdam recusandae facere vitae sit quis eveniet fugiat. Nemo pariatur temporibus esse magni quod earum.</p>
        </div>

        <div id="lp-srv4" class="lp-modal">
            <h2>Описание услуги 4</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis tempore aut pariatur accusantium non? Modi adipisci, assumenda tenetur iure, ipsum esse tempore, ipsa fuga blanditiis incidunt veniam debitis voluptatibus a.</p>
        </div>

        <div id="lp-fb1">
            <h2>Заказать консультацию</h2>
            <h3>Заполните контактные данные, и мы свяжемся с вами в кратчайшие сроки:</h3>
            <input type="text" name="name" maxlength="50" data-wi-fb-caption="Имя" placeholder="Ваше Имя..." />
            <input type="tel" name="phone" maxlength="50" data-wi-fb-caption="Телефон" placeholder="Ваш Телефон..." required />
            <button>Перезвоните мне</button>
        </div>

    </div>

</body>

</html>
